<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="methods">
    <classes>
      <class name="com.vtiger.TestScripts.LastViewedListInVendors"/>
      <class name="com.vtiger.TestScripts.CreateCampTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
